{% extends "products/products_master.html" %}
{% block body %}
<h1>List Of Products</h1>
<table border="1" cellpadding="5pt" width="100%">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Qoh</th>
        <th></th>
    </tr>

    {% for p in products %}
    <tr>
        <td>{{p.0}}</td>
        <td>{{p.1}}</td>
        <td style="text-align:right">{{p.2 | floatformat:2 }}</td>
        <td style="text-align:center">{{p.3}}</td>
        <td style="text-align:center">
            <a href="edit/{{p.0}}">Edit</a>
            &nbsp;
            <a href="delete/{{p.0}}">Delete</a>
        </td>
    </tr>

    {% endfor %}
</table>

{% endblock body%}