<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <style>
        .banner {
            background-color:maroon;
            color:white;
            font-size:24pt;
            font-family:Arial;
            font-weight:bold;
            letter-spacing:5px;
        }

        .menu {
            background-color:silver;
            font-size:12pt;
            font-family:verdana;
            font-weight:bold;
        }

        body {
         font-family :Verdana;
         font-size:12pt;
        }
    </style>
</head>
<body>
<div class="banner">Books</div>
<div class="menu">
    <a href="/catalog/books/home">Home</a>
    &nbsp;
    <a href="/catalog/books/list">List</a>
    &nbsp;
    <a href="/catalog/books/add">Add</a>
    &nbsp;
    <a href="/catalog/books/search">Search</a>
</div>
{% block body %}
{% endblock %}

</body>
</html>